<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.development.ian.nfc_ian">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SetTerminalTags" />
        <activity
            android:name=".SetTerminalType"
            android:label="@string/title_activity_set_terminal_type"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".set_date" />
        <activity android:name=".set_transaction_type" />
        <activity android:name=".set_tvr" />
        <activity android:name=".set_ttq" />
        <activity android:name=".set_amount_currency" />
        <activity android:name=".set_country" />
        <activity android:name=".set_gac_options" />
        <activity android:name=".Credits"></activity>
    </application>

</manifest>